html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.godown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.short {
  width: 56rem;
}

#reply {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  align-items: center;
  width: auto;
  align-items: center;
}

#tomato {
  position: fixed;
  right: -28rem;
  bottom: -10rem;
  width: 80vw;
  height: 100%;
  z-index: -1;
}

#water {
  position: static;
  top: 37rem;
  height: 30rem;
  width: 30rem;
  margin-left: 20vw;
  margin-bottom: -15rem;
  transform: scaleX(-1);
}

@media (max-width: 1300px) {
  #tomato {
    display: none;
  }
}

@media (min-width: 2000px) {
  #tomato {
    right: -35rem;
    bottom: -10rem;
  }
}

@media (max-width: 800px) {
  #water {
    display: none;
  }
}

.indie {
  font-family: 'Questrial', sans-serif;
}

.glass {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

#glass {
  max-width: fit-content;
}

@media screen and (max-width: 600px) {
  .glass {
    max-width: 100%;
    max-height: 100%;
  }
}


#slide {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slide 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  background-image: url('./assets/images/House.jpg'), url('./assets/images/GreenHouse.jpg'), url('./assets/images/Fire.jpg'), url('./assets/images/Sill.jpg'), url('./assets/images/Flower.jpg');
}

@keyframes slide {
  0% {
    background-image: url('./assets/images/House.jpg');

  }

  25% {
    background-image: url('./assets/images/GreenHouse.jpg');

  }

  50% {
    background-image: url('./assets/images/Fire.jpg');
  }

  75% {
    background-image: url('./assets/images/Sill.jpg');
  }

  100% {
    background-image: url('./assets/images/Flower.jpg');
  }
}

#h1 {
  text-shadow: 5px 5px #76B947;
}

.buttons {
  margin-left: 66%;
}

.arrow-up {
  height: 40px !important;
  width: 40px !important;
}
