@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.godown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.short {
  width: 56rem;
}

#reply {
  position: relative;
  margin: auto;
  margin-bottom: 1rem;
  align-items: center;
  width: auto;
  align-items: center;
}

#tomato {
  position: fixed;
  right: -28rem;
  bottom: -10rem;
  width: 80vw;
  height: 100%;
  z-index: -1;
}

#water {
  position: static;
  top: 37rem;
  height: 30rem;
  width: 30rem;
  margin-left: 20vw;
  margin-bottom: -15rem;
  transform: scaleX(-1);
}

@media screen and (max-width: 1300px) {
  #tomato {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  #tomato {
    right: -35rem;
    bottom: -10rem;
  }
}

@media (max-width: 800px) {
  #water {
    display: none;
  }
}

.indie {
  font-family: 'Questrial', sans-serif;
}

.glass {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

#glass {
  max-width: fit-content;
}

@media screen and (max-width: 600px) {
  .glass {
    max-width: 100%;
    max-height: 100%;
  }
}

.max{
  max-height: 92vh;
}
.pic{
  object-fit: fill;
}


#h1 {
  text-shadow: 4px 4px #76B947;
}

.buttons {
  margin-left: 66%;
}

.perenual {
  background-color: #EADAB2;
  background-image: linear-gradient(315deg, #EADAB2 0%, #C69F6A 74%);
  position: relative;
}

.popup {
  background: linear-gradient(to right, #d1913c, #ffd194);
}

@media screen and (max-width: 1080px) {
  .modal {
    max-width: auto;
  }

  .perenual {
    max-width: auto;
  }

  #data {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #swiper{
    max-width: auto;
  }

}

@media screen and (max-width: 720px) {
  #data {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
    #swiper {
      max-width: auto;
    }
}

@media screen and (max-width: 300px) {
  #data {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
    #swiper {
      max-width: auto;
    }
}

.arrow-up {
  height: 40px !important;
  width: 40px !important;
}

div.swiper-slide.swiper-slide-visible.swiper-slide-active {
  width: 300px !important;
}

.swiper-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #fb7185;
}

.slider-controller .slider-arrow {
  color: #fb7185;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
