.header {
  position: sticky;
  display: flex;
  background-color: #f8f8f6;
  justify-content: space-evenly;
  justify-content: center;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  width: 100%;
  z-index: 999;
}

.header__left {
  display: flex;
}

.lottie {
  padding-bottom: -20px;
  cursor: pointer;
  width: 7%;
}

.header__icons {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-grow: 1;
}

.header__right {
  display: flex;
  padding-top: 8px;
}

.button__input {
  background-color: #ddd;
  border: none;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
}

.button__input:hover {
  background-color: #b5c1ad;
}

@media (max-width: 1049px) {
  .mr__small {
    margin-right: 48px;
  }
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
